html {
    background-image: url("../images/gta-background.jpg");
    background-size: 100% auto;
    padding: 5px;
}

.popup {
    position: fixed;
    top: 50px;
    left: 50%;
    display: none;
    z-index: 3;
}

#connection-popup {
    width: 350px;
    heigth: 200px;
    margin-left: -175px;
}

#inscription-popup {
    width: 350px;
    heigth: 200px;
    margin-left: -175px;
}

#shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

header {
    background: rgba(255, 255, 255, 0.9);
}

body > main {
    background: rgba(255, 255, 255, 0.9);
}

form {
    display: inline;
}

nav {
    background: rgba(255, 255, 255, 0.9);
}
nav a {
    color: black !important;
}

nav > div {
    float: left;
}

h3 {
    text-align: center;
}

.useful-files a span {
    display: inline-block;
    width: 200px;
}